body {
    background-color: rgb(166, 188, 181);
}

#testvalid {
    width: 500px;
    height: 30px;
    background-color: rgb(198, 143, 130);
    font: 15px solid;
    margin-top: 30px;
    margin-left: 350px;
}

#testvalid2 {
    display: flex;
    width: 50px;
    height: 30px;
    background-color: rgb(201, 189, 173);
    font: 15px solid;
    margin-left: 860px;
    border-radius: 80%;
}

#div1,
.div2,
.div3 {
    margin-top: 50px;
    display: inline-block;
    background-color: rgb(201, 189, 173);
    width: 200px;
    height: 300px;
    color: rgb(44, 38, 38);
    /* padding: px; */
    border: 2px solid rgb(59, 59, 73);
    font-size: 25px;
}